*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

.acordeon {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    padding: 20px;
    width: 300px;
}

.acordeon-header {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-bottom: 20px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sombreado {
    
    
    box-shadow: inset 0 10px 20px -10px rgba(0, 0, 0, 0.5); 
    
}

.acordeon-item {
    background-color: #fefcfc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.acordeon-content {
    display: none;
    
             
   
}


.active .acordeon-content {
    display: block;
    
    
}